Software/Node-RED/node-red.flow
[{"id":"efc412b9.0671c","type":"mqtt in","z":"3fd12589.556faa","name":"","topic":"aamn/Briefkasten/1","qos":"2","broker":"ec713c14.789ae","x":190,"y":560,"wires":[["b45d4697.a1a8b8"]]},{"id":"103228d8.4bbf77","type":"switch","z":"3fd12589.556faa","name":"Akkustand?","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"2.8","vt":"str"},{"t":"gte","v":"2.8","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":560,"wires":[["377ae5b1.fddcfa"],["62ccff6f.1a081"]],"outputLabels":["Niedrig","Normal"]},{"id":"b45d4697.a1a8b8","type":"delay","z":"3fd12589.556faa","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":340,"y":500,"wires":[["103228d8.4bbf77"]]},{"id":"58de39fa.092d08","type":"chatbot-telegram-send","z":"3fd12589.556faa","bot":"b395f311.c6881","botProduction":"b395f311.c6881","track":false,"passThrough":false,"outputs":0,"x":1250,"y":580,"wires":[]},{"id":"8d2cc6c3.d27328","type":"chatbot-message","z":"3fd12589.556faa","name":"Mail-Message","message":[{"message":"Post ist da."},{"message":"Sie haben Post."},{"message":"Der Brief. Er wurde zugestellt."},{"message":"M O N D. Das heißt Post"},{"message":"Neue Mahnungen haha"},{"message":"Es rappelt im Briefkasten"},{"message":"Ich wollte dir... nur mal eben sagen..."},{"message":"Du weißt warum ich schreibe.."},{"message":"Ziemlich voll hier"},{"message":"Grüße vom Unabomber "},{"message":"Yoo"},{"message":"Hier geht die Post ab"},{"message":"Loveletter?"},{"message":"Wahrscheinlich eh nur Werbung. Waren die \"kostenlosen\" Messer das wirklich wert?"},{"message":"Ist nicht die KFZ-Versicherung wieder fällig?"},{"message":"Bauchschmerzen.."},{"message":":smile:"}],"answer":false,"silent":false,"x":880,"y":640,"wires":[["58de39fa.092d08","7c52c6db.2fc8b8"]]},{"id":"62ccff6f.1a081","type":"chatbot-conversation","z":"3fd12589.556faa","name":"","botTelegram":"b395f311.c6881","botTelegramProduction":"","botSlack":"","botSlackProduction":"","botFacebook":"","botFacebookProduction":"","botViber":"","botViberProduction":"","botUniversal":"","botUniversalProduction":"","botTwilio":"","botTwilioProduction":"","chatId":"","transport":"telegram","messageId":"","contextMessageId":false,"store":"","x":670,"y":640,"wires":[["8d2cc6c3.d27328"]]},{"id":"377ae5b1.fddcfa","type":"chatbot-conversation","z":"3fd12589.556faa","name":"","botTelegram":"b395f311.c6881","botTelegramProduction":"","botSlack":"","botSlackProduction":"","botFacebook":"","botFacebookProduction":"","botViber":"","botViberProduction":"","botUniversal":"","botUniversalProduction":"","botTwilio":"","botTwilioProduction":"","chatId":"","transport":"telegram","messageId":"","contextMessageId":false,"store":"","x":670,"y":440,"wires":[["86e46fa7.1ddae","8d2cc6c3.d27328"]]},{"id":"86e46fa7.1ddae","type":"function","z":"3fd12589.556faa","name":"","func":"msg.payload = \"Akkustand niedrig: \" + msg.payload + \"V\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":440,"wires":[["32b15507.2c5e9a"]]},{"id":"32b15507.2c5e9a","type":"chatbot-message","z":"3fd12589.556faa","name":"LowPower-Message","message":[],"answer":false,"silent":false,"x":1040,"y":440,"wires":[["53ad33d0.9cf95c"]]},{"id":"53ad33d0.9cf95c","type":"delay","z":"3fd12589.556faa","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":520,"wires":[["58de39fa.092d08"]]},{"id":"42a9f048.28a23","type":"twitter out","z":"3fd12589.556faa","twitter":"","name":"Tweet","x":1210,"y":720,"wires":[]},{"id":"7c52c6db.2fc8b8","type":"function","z":"3fd12589.556faa","name":"Twitter-Payload","func":"msg.payload = \"Beep Boop vom Briefkasten: \" + msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":720,"wires":[["42a9f048.28a23"]]},{"id":"ec713c14.789ae","type":"mqtt-broker","z":"","name":"","broker":"mqtt.iot.informatik.uni-oldenburg.de","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b395f311.c6881","type":"chatbot-telegram-node","z":"","botname":"Briefkasten","usernames":"","providerToken":"","polling":"1000","store":"","log":"","parseMode":"","debug":false}]
